<%- include('partials/header') -%>

  <div class="w-full flex justify-center"></div>

  <div class="w-full flex justify-center">
    <div class="card w-96 bg-base-100 shadow-xl">
      <div class="card-body items-center text-center">
        <h3 id="errorArea"></h3>
        <input
          type="text"
          placeholder=""
          class="input input-bordered input-xs w-full max-w-xs"
          id="complimentAuthorInput"
        />
        <input
          type="text"
          placeholder=""
          class="input input-bordered input-xs w-full max-w-xs"
          id="complimentTextInput"
        />
        <button class="btn btn-active btn-primary" id="newComplimentButton">
         Add Compliment
        </button>
      </div>
    </div>
  </div>

  <div class="w-full flex justify-center">
    <div class="card w-96 bg-base-100 shadow-xl">
      <div class="card-body items-center text-center">
        <h3>Compliment:</h3>
        <ol>
          <% if (compliment && Array.isArray(compliment.answers)) { %>
            <% for (let i = 0; i < compliment.answers.length; i++) {%>
              <li>
                <span>
                  <%= compliment.answers[i].author %>:
                  <%= compliment.answers[i].answerText %>
                </span>
              </li>
            <% } %>
          <% } else { %>
            <p>No Compliments are available.</p>
          <% } %>
        </ol>
      </div>
    </div>
  </div>

  <%- include('partials/footer') -%>
</body>
