<%- include('partials/header') -%>

<main class="container">
  <div class="row justify-content-around mt-5">
    <a href="/compliments" class="col-3 btn btn-primary"> Compliments </a>
    <a href="/motivation" class="col-3 btn btn-primary"> Motivation </a>
  </div>
</main>

<%- include('partials/footer') -%>
<!-- I need to add route to compliments and motivation -->
