<%- include('partials/header') -%>

<div class="w-full flex justify-center"></div>

<div class="w-full flex justify-center">
  <div class="card w-96 bg-base-100 shadow-xl">
    <div class="card-body items-center text-center">
      <h3 id="errorArea"></h3>
      <input
        type="text"
        placeholder=""
        class="input input-bordered input-xs w-full max-w-xs"
        id="motivationAuthorInput"
      />
      <input
        type="text"
        placeholder=""
        class="input input-bordered input-xs w-full max-w-xs"
        id="moivationTextInput"
      />
      <button class="btn btn-active btn-primary" id="newMotivationButton">
        Add Motivation
      </button>
    </div>
  </div>
</div>

<div class="w-full flex justify-center">
  <div class="card w-96 bg-base-100 shadow-xl">
    <div class="card-body items-center text-center">
      <h3>Motivations:</h3>
      <ol>
        <% if (motivation && Array.isArray(motivation.answers)) { %> <% for (let
        i = 0; i < motivation.answers.length; i++) {%>
        <li>
          <span>
            <%= motivation.answers[i].author %>: <%=
            motivation.answers[i].answerText %>
          </span>
        </li>
        <% } %> <% } else { %>
        <p>There's no Motivation available.</p>
        <% } %>
      </ol>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
